#reset-this-root {
  all: unset;
}

.main-header {
  text-align: center;
  justify-self: center;
}

* {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
}

.box-container {
  background-color: #f3f3f3;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.member-container {
  width: 418px;
  height: 239px;
  background-color: #f0f0f0;
  border-radius: 20px;
  padding: 20px;
}

.circle {
  width: 49px;
  height: 49px;
  background-color: #b2b2b2;
  border-radius: 50%;
  margin-right: 15px;
}

.joinheader {
  font-size: 30px;
  margin: 10px;
  margin-top: 100px; /* Adjusted to move the header higher up */
  margin-left: 100px;
  color: #527785;
  font-weight: 800;
}

.logo-container {
  position: absolute;
  top: 30px;
  left: 30px; /* Adjusted to the top left corner */
}

.top-right-buttoon {
  position: absolute;
  top: 30px;
  right: 30px;
  background-color: #f3f3f3;
  font-weight: 800;
  color: #527785;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  height: 51;
  width: 208;
}

button.top-right-button:hover {
  background-color: #d3d3d3;
}

.logo {
  width: 80px;
  height: 80px;
}

.chatroom-setting-container {
  background-color: #f9f8f7;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  height: 528px;
  width: 721px;
  color: #535353;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.chatroom-setting-heading {
  font-size: 25px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  color: #383838;
}

.chatroom-setting-hr {
  border-top: 2px solid #e3e3e3;
  border-left: none;
  width: 721px;
}

.chatroom-setting-input-container {
  margin: 20px;
}

.chatroom-setting-input-label {
  font-size: 22px;
  padding-bottom: 10px;
}

.chatroom-setting-input-field {
  background-color: #f9f8f7;
  border-radius: 20px;
  width: 670px;
  height: 34px;
  border: 1px solid #c4c4c4;
  outline: none;
  padding-left: 10px;
  font-size: 16px;
}

.chatroom-setting-timer-container,
.chatroom-setting-particpants-per-room-container {
  margin: 20px;
}

.chatroom-setting-timer-label,
.chatroom-setting-particpants-per-room-container {
  font-size: 22px;
  padding-bottom: 10px;
}

.chatroom-setting-timer-input,
.chatroom-setting-particpants-per-room-input {
  display: flex;
  align-items: center;
}

.chatroom-setting-timer-input-box,
.chatroom-setting-particpants-input {
  background-color: #ece7e0;
  border-radius: 20px;
  width: 97px;
  height: 34px;
  outline: none;
  text-align: center;
  font-size: 16px;
}

.chatroom-setting-timer-input-box-p,
.chatroom-setting-particpants-per-room-input-box-p {
  margin-left: 10px;
  margin-right: 20px;
}

.chatroom-setting-participants-container,
.chatroom-setting-participants-per-room-container {
  margin: 20px;
}

.chatroom-setting-participants-label {
  font-size: 22px;
  padding-bottom: 10px;
}
